.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.b-footer {
    background: #1C1B17 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

.b-footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.b-footer ul li {
    margin-bottom: 5px;
}

.language-switch-footer {
    display: inline-block;
}

.b-footer__top ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.b-footer a {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease 0s;
    color: rgba(255,255,255,.7);
}

.b-footer a:hover {
    color: rgba(255,255,255,1);
}

.b-footer__logo {
    width: 210px;
    height: 55px;
    display: block;
    text-indent: -5000px;
    margin-bottom: 20px;
}

.b-footer__logo img {
    display: block;
    width: 100%;
    height: auto;
}

.b-footer__bottom {
    border-top: 1px solid #b2b2b2;
    clear: both;
    margin-top: 26px;
    padding-top: 22px;
}

.b-footer__bottom ul li {
    display: inline-block;
    margin-right: 30px;
}

.inv-grid-item-descr {
    display: none;
}

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.table-container::-webkit-scrollbar
{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.def-tabs > li > a {
    padding: 10px 15px;
    margin: 0 2px 0 0;
}
.industry-other-news-item:hover img {
    transform: scale(1.25);
}

.industry-other-news-item img {
    transition: all 0.4s ease 0s;
}

.events-item__img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 20px 16px 0;
    float: left;
}

.industry-list-news-item__img {
    position: relative;
    overflow: hidden;
    display: block;
}

.industry-list-news-item__img img {
    transition: all 0.4s ease 0s;
}

.industry-list-news-item__img:hover img {
    transform: scale(1.25);
}

.single-news-item__cat {
    color: #fff;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 111;
}

.single-news-item__cat .cat {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 5px 20px;
    margin-right: 15px;
}

.single-news-item {
    display: block;
    overflow: hidden;
}

.single-news-item img {
    transition: all 0.4s ease 0s;
}

.single-news-item:hover img {
    transform: scale(1.25);
}

.single-news-item img {
    max-width:100%;
    height: auto;
}

.industry-news-item .news_title{
    bottom: 0px;
    color: white;
    left: 30px;
    font-size: 33px;
    z-index: 111;
    position: absolute;
    line-height: 1.3;
    margin-right: 30px;
    margin-bottom: 25px;
}



@media (max-width: 1200px) {
    .inv-our-company .snip0016 {
        display: inline-flex;
        float: none;
    }
    .inv-our-company {
        text-align: center;
    }
}

@media (max-width:993px) {
    .b-footer__logo-cont {
        display: none;
    }
    .graphic-buttons .btn-1, .graphic, .industry-other-news {
        margin: 40px 0 0 0;
    }
    .chart2 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 30px;
    }
}

@media (max-width:768px) {
    .b-footer__bottom .text-right {
        text-align: left;
    }
    .video-wrapper {
        padding: 30px 15px;
        height: auto;
        width: 100%;
    }
    .type-wrap {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
    .promo h1, #typed {
        font-size: 18px;
    }
    h2 {
        font-size: 28px;
        line-height: 1.2em;
    }
    .video-wrapper {
        background-image: none;
    }
}

@media (max-width:600px) {
    .b-footer .col-xs-6 {
        width: 100%;
    }
    .language-switch-footer {
        display: block;
    }
    .b-footer__bottom ul li, .language-switch-footer li, .b-footer__copyright {
        display: block;
        margin: 0 0 5px 0;
    }
    .video-more {
        font-size: 15px;}
}