.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.b-footer {
    background: #1C1B17 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

.b-footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.b-footer ul li {
    margin-bottom: 5px;
}

.language-switch-footer {
    display: inline-block;
}

.b-footer__top ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.b-footer a {
    position: relative;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.2s ease 0s;
    color: rgba(255,255,255,.7);
}

.b-footer a:hover {
    color: rgba(255,255,255,1);
}

.b-footer__logo {
    width: 210px;
    height: 55px;
    display: block;
    text-indent: -5000px;
    margin-bottom: 20px;
}

.b-footer__logo img {
    display: block;
    width: 100%;
    height: auto;
}

.b-footer__bottom {
    border-top: 1px solid #b2b2b2;
    clear: both;
    margin-top: 26px;
    padding-top: 22px;
}

.b-footer__bottom ul li {
    display: inline-block;
    margin-right: 30px;
}

.inv-grid-item-descr {
    display: none;
}

.table-container
{
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
}

.table-container::-webkit-scrollbar
{
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
}

.table-container::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.def-tabs > li > a {
    padding: 10px 15px;
    margin: 0 2px 0 0;
}

.events-item__img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 20px 16px 0;
    float: left;
}

.industry-list-news-item__img {
    position: relative;
    overflow: hidden;
    display: block;
}

.industry-list-news-item__img img {
    transition: all 0.4s ease 0s;
}

.industry-list-news-item__img:hover img {
    transform: scale(1.25);
}

.single-news-item__cat {
    color: #fff;
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 111;
}

.single-news-item__cat .cat {
    border: 2px solid #fff;
    border-radius: 3px;
    padding: 5px 20px;
    margin-right: 15px;
}

.single-news-item {
    display: block;
    overflow: hidden;
}

.single-news-item img {
    transition: all 0.4s ease 0s;
}

/*.single-news-item:hover img {
    transform: scale(1.25);
}*/

.single-news-item img {
    max-width:100%;
    height: auto;
}

.industry-news-item .news_title{
    bottom: 0px;
    color: white;
    left: 30px;
    font-size: 33px;
    z-index: 111;
    position: absolute;
    line-height: 1.3;
    margin-right: 30px;
    margin-bottom: 25px;
}

.investment-bg {
    background-image: url("../images/btf/14.png");
}

.table-container table th {
    white-space: nowrap;
}

.slick-prev, .slick-next {
    top: 250px;
}

.dashboard-reg {
    text-align: right;
}

.timeline-panel--last:before {
    content: '';
    height: 100%;
    position: absolute;
    left: -107px;
    width: 10px;
    background: #fff;
}

.graphic-buttons {
    clear: both;
}

.main-content.graphic-buttons .modal-footer .btn {
    margin: 0;
    float: right;
}

.forgot-pass {
    margin-top: 15px;
    float: right;
    clear: both;
}


@media (max-width: 1200px) {
    .inv-our-company {
        text-align: center;
    }
    figure.snip0016, figure.snip0016:nth-child(4n) {
        margin: 0 14px 28px;
    }
    .subscribe-input {
        font-size: 10px;
    }
    .timeline-panel--last:before {
        left: -90px;
    }
}

@media (max-width:993px) {
    .nav > li:hover > ul {
        display: none;
    }
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        color: #000;
    }
    .b-footer__logo-cont {
        display: none;
    }
    .graphic-buttons .btn-1, .graphic, .industry-other-news {
        margin: 40px 0 0 0;
    }
    .chart2 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 30px;
    }
    html .industry-list-news-item {
        height: auto;
    }
    .blockchain-slider {
        width: 70%;
    }
    .blockchain-comments {
        width: 100%;
    }
    ul.language-switch-footer, .b-footer__copyright {
        display: block;
        text-align: right;
        margin-bottom: 0;
    }
    .b-footer__bottom ul li {
        margin-right: 0;
        margin-left: 10px;
    }
    .intro-font p {
        font-size: 20px;
    }
    .subscribe-input {
        font-size: 14px;
    }
    .partners a {
        margin: 0 10px 20px;
    }
    #team {
        margin-top: 60px;
    }
    .blockchain-reg {
        margin-bottom: 75px;
        padding-top: 30px;
    }
    .intro {
        padding: 50px 0 20px;
    }
    .blockchain-slider {
        margin-top: 50px;
    }
    .inv-products .products-item h2 {
        font-size: 23px;
    }
    .type-wrap br {
        display: none;
    }
    h4.spaced {
        justify-content: flex-start;
    }
    #other h2 {
        font-size: 30px;
    }
    .main-content.graphic-buttons .btn-1 {
        width: auto;
        margin-left: 20px;
    }
    .grid-item {
        margin: 0 auto 60px;
    }
    .timeline-panel--last:before {
        left: -70px;
    }
    .timeline > li .timeline-image, .timeline:before {
        top: 12px;
    }
    .dashboard-reg-cont {
        padding: 30px 0 0;
    }
}

@media (max-width:768px) {
    .b-footer__bottom .text-right {
        text-align: left;
    }
    .video-wrapper {
        padding: 70px 80px;
    }
    .type-wrap {
        width: 400px;
    }
    .promo h1, #typed {
        font-size: 18px;
    }
    h2 {
        font-size: 28px;
        line-height: 1.2em;
    }
    .blockchain-slider {
        width: 100%;
        padding: 0 10px;
        margin-top: 40px;
    }
    .slick-prev, .slick-next {
        top: -17px;
        height: 30px;
        width: 30px;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        right: 50px;
        left: auto;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 30px;
    }
    .slide-descr {
        margin-top: 15px;
    }
    .b-footer ul {
        margin-bottom: 35px;
        text-align: center;
    }
    .b-footer__bottom ul {
        margin-bottom: 15px;
    }
    .b-footer__bottom ul li {
        margin: 0 10px;
    }
    .b-footer__copyright {
        text-align: center;
    }
    .intro-font p {
        font-size: 18px;
    }
    .inv-products .products-item h2 {
        font-size: 20px;
    }
    .links-item {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .intro {
        padding: 30px 0 0;
    }
    .vacancy-item h6 {
        font-size: 16px;
    }
    .vacancy-item {
        margin-bottom: 50px;
    }
    .lead-rolla, .vacancy-item p {
        font-size: 14px;
    }
    .vacancy {
        margin-bottom: 15px;
    }
    figure.snip0058 {
        width: 370px;
        display: block;
        margin: 0 auto 30px;
    }
    .timeline-panel h4 {
        margin: 0;
    }
    #other h2 {
        font-size: 25px;
    }
    .grid-item .overlay .inner-overlay span {
        font-size: 14px;
    }
    .links-item br {
        display: none;
    }
    .timeline > li .timeline-image, .timeline:before {
        top: 4px;
    }
    .timeline-panel--last:before {
        left: 35px;
    }
    .blockchain-stories-item-descr {
        font-size: 14px;
    }
    .dashboard-reg-cont {
        text-align: center;
    }
    .dashboard-reg {
        text-align: center;
        padding: 0 0 30px;
    }
    .main-content.graphic-buttons .btn-1 {
        margin: 0 10px;
    }
    .main-content h4 {
        font-size: 20px;
    }
    #other p, .main-content .our-key, .chart-info {
        font-size: 14px;
    }
}

@media (max-width:600px) {
    .b-footer .col-xs-6 {
        width: 100%;
    }
    .language-switch-footer {
        display: block;
    }
    .video-more {
        font-size: 15px;
    }
    .slide-descr {
        font-size: 16px;
    }
    .slide-comment-descr {
        font-size: 14px;
    }
    .blockchain-info p, .blockchain-forecast p, body, .inv-our-company p, .inv-products p, .inv-p {
        font-size: 14px;
    }
    .blockchain-stories-item-descr {
        padding: 15px 0;
    }
}

@media (max-width:500px) {
    .slide-comment-ava {
        float: none;
        margin: 0 auto 20px;
    }
    .slide-comment-item {
        padding-bottom: 50px;
    }
    .slide-comment-descr {
        padding-left: 0;
    }
    .leftReveal h3 {
        font-size: 22px;
    }
    .intro-font p {
        font-size: 16px;
    }
    figure.snip0058 {
        width: 290px;
    }
    .video-wrapper {
        padding: 30px 15px;
        height: 280px;
        width: 100%;
    }
    .type-wrap {
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
    .promo h1, #typed {
        font-size: 16px;
    }
    #other h2 {
        font-size: 20px;
    }
    .blockchain-stories-item-descr {
        font-size: 13px;
    }
}
