.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}






.b-footer {
    background: #1C1B17 none repeat scroll 0 0;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
}

.b-footer ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.b-footer ul li {
    margin-bottom: 5px;
}

.language-switch-footer {
    display: inline-block;
}

.b-footer__top ul li:first-child {
    font-size: 14px;
    font-weight: 600;
}

.b-footer a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s ease 0s;
}

.b-footer a:hover {
    color: #7f7f7f;
}

.b-footer__logo {
    width: 210px;
    height: auto;
    display: block;
    text-indent: -5000px;
    margin-bottom: 20px;
}

.b-footer__bottom {
    border-top: 1px solid #b2b2b2;
    clear: both;
    margin-top: 26px;
    padding-top: 22px;
}

.b-footer__bottom ul li {
    display: inline-block;
    margin-right: 30px;
}

.inv-grid-item-descr {
    display: none;
}

@media (max-width:993px) {
    .b-footer__logo {
        width: 100%;
    }
    .inv-our-company .snip0016 {
        display: inline-block;
        float: none;
    }
    .inv-our-company {
        text-align: center;
    }
}

@media (max-width:768px) {
    .b-footer__bottom .text-right {
        text-align: left;
    }
}

@media (max-width:600px) {
    .b-footer .col-xs-6 {
        width: 100%;
        text-align: center;
    }
    .b-footer__bottom {
        text-align: center;
    }
    .language-switch-footer {
        display: block;
    }
    .b-footer__bottom ul li, .language-switch-footer li, .b-footer__copyright {
        display: block;
        margin: 0 0 5px 0;
        text-align: center;
    }
}