<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="description" content="Инвестиции - Federal Finance Fund">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Инвестиции - Federal Finance Fund</title>

    <!-- jQuery Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <!-- Stylesheets -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="apple-touch-icon" size="180x180" href="images/favicon-180.png">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/ionicons.min.css" rel="stylesheet">
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" title="main-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&amp;subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="css/vladimir.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic"
          rel="stylesheet">
</head>

<body class="body-static-navbar home investment">
<div class="overlay"></div>

<!-- Preloader -->
<div id="preloader">
    <div class="preloader-content">
        <img src="images/webetter/FFF_logo.gif" alt="">
    </div>
</div>

<script type="text/javascript" src="js/preloader.js"></script>

<!-- Begin Header -->
<header>
    <div class="top-menu">
        <div class="container">
            <div class="top-menu-left-section pull-left">
                <span>Курс <span id='rubbtc'></span> руб. / BTC</span>
                <span>Курс <span id="usdbtc"></span> $ / BTC</span>
            </div>
            <div class="top-menu-right-section pull-right">
                <div class="languages">
                    <span><img src="images/btf/russia_fluttering_flag_256.png" alt=""></span>
                    <span><img src="images/btf/united_states_of_america_fluttering_flag_256.png" alt=""></span>
                    <span><img src="images/btf/china_fluttering_flag_256.png" alt="" class="united-lang"></span>
                </div>
                <span class="phone">8-800-700-24-93</span>
                <span class="pe-7s-mail"></span>
            </div>
        </div>
    </div>
    <!-- Begin Navigation -->
    <nav class="navbar navbar-default navbar-spacing-top-static">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button class="navbar-toggle collapsed menu-icon">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand scroll-top" href="#"><img src="images/logo.png" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="menu-wrapper">
                <div class="collapse navbar-collapse menu-cont">
                    <a class="navbar-toggle collapsed menu-toggle-js closed">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="/">Главная</a>
                        </li><!-- /.dropdown -->
                        <li><a href="investment.html" class="active">Инвестиции</a></li>
                        <li><a href="blockchain.html">Блокчейн</a></li>
                        <li class="dropdown">
                            <a href="fond.html" class="dropdown-toggle" role="button">Фонд</a>
                            <ul class="dropdown-menu dropdown-menu-first">
                                <li class="dropdown-submenu">

                                </li><!-- /.dropdown sub -->
                                <li class="dropdown-submenu">
                                    <a href="fond.html#values-anchor">Ценности</a>

                                </li><!-- /.dropdown sub -->
                                <li class="dropdown-submenu"><a href="fond.html#team-anchor">Команда</a></li>
                                <li class="dropdown-submenu"><a href="fond.html#partners-anchor">Партнеры</a></li>
                                <li class="dropdown-submenu"><a href="fond.html#vacancies-anchor">Вакансии</a></li>
                                <li class="dropdown-submenu"><a href="fond.html#contacts-anchor">Контакты</a></li>
                            </ul><!-- /.dropdown sub holder -->
                        </li><!-- /.dropdown -->
                        <li><a href="industry.html">Индустрия</a></li>
                        <li><a href="http://corp.ff.ru/">Холдинг</a></li>
                        <li><a href="dashboard.html">Управление</a></li>
                    </ul>
                    <div class="languages">
                        <span><img src="images/btf/russia_fluttering_flag_256.png" alt=""></span>
                        <span><img src="images/btf/united_states_of_america_fluttering_flag_256.png" alt=""></span>
                        <span><img src="images/btf/china_fluttering_flag_256.png" alt="" class="united-lang"></span>
                    </div>
                </div><!-- /.navbar-collapse -->

            </div>
        </div><!-- /.container -->
    </nav><!-- /.nav -->
    <!-- End Navigation -->

</header>
<!-- End Header -->

<!-- Begin About -->


<section class="video-wrapper index-wrapper" class="parallax-window" data-parallax="scroll"
         data-image-src="images/btf/Slides/13.png">

    <div class="type-wrap">
        <div id="typed-strings">
            <h1 class="typed-h1"><span class="name">Federal Finance Fund отличается</span></h1>
        </div>
        <span id="typed"></span>
    </div>
</section>
<!-- End About -->
<section class="inv-our-company inv-fff">
    <div class="row mb50">
        <div class="col-xs-12 text-center">
            <h2 class="pl30 pr30">Federal Finance Fund</h2>
            <span class="divider divider-center divider-dark no-margin-bottom"></span>
        </div>
        <!-- /.column -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <p>Добро пожаловать в первый инвестиционный фонд в мировые блокчейн-проекты, работающий на русскоязычную
                    аудиторию и играющий в открытую. Мы создаем точку входа для «российских» денег в мир
                    блокчейн-стартапов, обеспечивая рядового российского инвестора, мало знакомого
                    с новой технологией, возможностью инвестировать в самый высокодоходный рынок из мира IT. </p>
                <p> Наша компания делает процесс работы инвестиционного фонда прозрачным и понятным, за счет
                    использования в работе публичного блокчейна Ethereum. <b>Это означает, что инвестор всегда имеет
                        доступ ко всем действиям нашего фонда, видит все движения средств и все результаты каждой
                        конкретной инвестиции.</b>
                    Именно это обеспечивает необходимую прозрачность и децентрализацию. При этом, активы наших клиентов
                    управляются профессионалами классического финансового рынка по всем соответствующим правилам.
                </p>
                <p>К сожалению, в связи с ограничениями Российского законодательства, <b>мы не принимаем инвестиции в
                    рублях и иностранной валюте и работаем только с Bitcoin</b>. Несмотря на это, мы поддерживаем
                    значительное количество проектов с российскими корнями, оказывая им экспертную и финансовую
                    поддержку, и активно участвуем в становлении самой блокчейн-технологий в России, потому что считаем
                    это направление приоритетным для страны. </p>
                <p>Впервые за всю историю венчурных инвестиций частное лицо может владеть долей в стартапе точно также,
                    как это делают институациаональные инвесторы, с теми же правами и теми же возможностями. Мы
                    предлагаем вам <a href="#products" class="in-process">участвовать в этом процессе</a> на платформе
                    Federal Finance Fund </p>

                <a href="http://bigtime.fund/fond.html" class="about-team">Подробная информация о фонде -></a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row mb50">
        <div class="col-xs-12 text-center">
            <h2 class="pl30 pr30">Мы знаем, что делаем</h2>
            <span class="divider divider-center divider-dark no-margin-bottom"></span>
        </div>
        <!-- /.column -->
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Финансовый анализ</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Стандартный финансовый анализ стартапов применим и в случае с
                                    блокчейн-проектами, и когда такую информацию удается получить, мы анализируем
                                    стратегические планы компании в части финансов на коротком и длинном периоде. Очень
                                    важно оценить масштабность и реалистичность заявленных основателями целей именно в
                                    цифрах и проконтролировать пошаговый план расхования привлекаемых компанией
                                    средств.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Маркетинговая активность</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы анализируем маркетинговую активность проекта - самые светлые и
                                    эффективные концепции нуждаются в адекватном продвижении на рынок, не всегда
                                    блокчейн-компания способна взять на себя этот вызов. Также распространенной является
                                    и обратная ситуация, когда за смелым и качественным маркетингом стоит откровенно
                                    слабый, непроработанный продукт. Это важно учитывать при принятии инвестиционных
                                    решений.</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Распределение токенов</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы обращаем пристальное внимание на структуру распределения
                                    токенов при ICO. Сколько выделили себе основатели, сколько уйдет на разработку и
                                    маркетинг, сколько на партнеров, сколько выпускается на рынок и через какие этапы.
                                    От баланса распределения токенов проекта зависит уровень его централизации, слишком
                                    высокая централизация чревата обвалом стоимости токенов по вине создателей проекта
                                    и/или инсайдеров. Чем более распределен и публичен проект, тем лучше.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/5.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Архитектура проекта</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Внимательно изучаем технологическую архитектуру проекта. Каким
                                    образом работает сама архитектура согласования решений (алгоритм консенсуса), каковы
                                    её перспективы при масштабировании. Насколько проект вписывается в существующие
                                    разработки, есть ли пересечения и какие новые решения авторы проекта готовы
                                    предложить. Не делают ли они лишнюю работу, реализуя какие-то процессы ради самой
                                    реализации, насколько основатели проекта следят за происходящим в индустрии и есть
                                    ли понятная технологическая ниша.</p>
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Источники информации</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы тщятельно работаем как с публичной информаций - документами в
                                    открытом доступе, которые компании публикуют для инвесторов и клиентов, так и
                                    непосредственно с командами проектов, в рамках неформальных мероприятий и личного
                                    общения. Чем более подробно и понятно описан проект в документах, тем больше у него
                                    шансов получить инвестиции, но нет лучшего инструмента для принятия решений, чем
                                    закрытая информация внутри проекта.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/8.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Разработчики и менеджмент</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы анализируем разработчиков и менеджмент компании, опыт команды в
                                    предыдущих проектах, известность и послужной список ключевых участников, как внутри
                                    индустрии, так и за её пределами. Это необходимо для того, чтобы снизить риски
                                    потери интереса команды к проекту, злоупотребления полученными инвестициями,
                                    отклонения от изначальной задумки проекта без соответствующих причин и т.п.</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/7.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Анализ рынка</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Нельзя обойти вниманием конкурентную среду и общую емкость рынка в
                                    той плоскости, в которой блокчейн-проект решает кокретную проблему или набор
                                    проблем. Изучение экономической модели и наличия соответствующих экономических
                                    стимулов для всех участников блокчейн-системы является приоритетной частью наших
                                    исследования.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted clearfix">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="images/webetter/6.jpg" alt="">
                        </div>
                        <div class="timeline-panel timeline-panel--last">
                            <div class="timeline-heading">
                                <h4 class="subheading">Аудит кода</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Мы своими силами или с привлечением профильных специалистов
                                    проводим аудит исходного кода проекта, т.к. блокчейн-система фунционирует прежде
                                    всего как программный код, а уже потом как бизнес, основанный на решениях людей.
                                    Этот фактор во многом смещает приоритеты и застявляет ориентироваться в первую
                                    очередь на алгоритмическую составляющую проекта и на соотвествие ее заявленной
                                    основателями логике. Также большое внимание необходимо уделить безопасности и
                                    отстутствию любых незадокументированных возможностей.</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>
<section class="our-company inv-our-company">
    <div class="row mb50">
        <div class="col-xs-12 text-center">
            <h2 class="pl30 pr30">Наши инвестиции</h2>
            <span class="divider divider-center divider-dark no-margin-bottom"></span>
        </div>
        <!-- /.column -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 position-static b-logo-partners">
                <figure class="snip0016 project-1">
                    <img src="images/btf/project-11.svg">
                    <figcaption>
                        <h2><span>Bitcoin</span></h2>
                        <p>Пиринговая платёжная система, использующая одноимённую расчётную единицу и протокол передачи
                            данных. Реализует уникальные для электронной валюты свойства.</p>
                        <a href="https://bitcoin.org/ru/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-2">
                    <img src="images/btf/project-22.png" alt="sample42"/>
                    <figcaption>
                        <h2><span>Ethereum</span></h2>
                        <p>Децентрализованная платформа для запуска программного кода на блокчейне, позволяет создавать
                            смарт-контракты и распределенные онлайн-сервисы. </p>
                        <a href="https://ethereum.org/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-4">
                    <img src="images/btf/project-44.svg" alt="sample43"/>
                    <figcaption>
                        <h2><span>Made Safe</span></h2>
                        <p>Децентрализованная система хранения, обработки и передачи данных.</p>
                        <a href="https://maidsafe.net/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-3">
                    <img src="images/btf/project-33.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>Ethereum Classic</span></h2>
                        <p>HardFork оригинальной цепочки блоков Ethereum после идеологического разделения платформы, со
                            своей командой разработчиков и своим направлением развития.</p>
                        <a href="https://ethereumclassic.github.io/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-5">
                    <img src="images/btf/project-55.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>Digix Global</span></h2>
                        <p>Проект выпускает токен, привязанный к золоту и доступный к свободному обращению на
                            блокчейне.</p>
                        <a href="https://www.dgx.io/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-6">
                    <img src="images/btf/project-66.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>Singlar DTV</span></h2>
                        <p>Децентрализвоанный видео хостинг - аналог YouTube - с правами, закрепленными за поставщиком
                            контента, и прозрачными выплатами создателям напрямую от зрителя.</p>
                        <a href="https://singulardtv.com/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-7">
                    <img src="images/btf/project-golem.jpg" alt="sample43"/>
                    <figcaption>
                        <h2><span>Golem</span></h2>
                        <p>Golem Projeсt - децентрализованный и масштабируемый рынок вычислительных мощностей.</p>
                        <a href="https://namecoin.org/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-8">
                    <img src="images/btf/project-88.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>AUGUR</span></h2>
                        <p>Децентрализованная платформа для создания рынка прогнозирования. Создает возможность довольно
                            точной независимой оценки вероятности рыночных событий.</p>
                        <a href="www.augur.net/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-9">
                    <img src="images/btf/project-99.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>Factom</span></h2>
                        <p>Factom создает продукт для государственных структур и коммерческих компаний, позволяющий
                            безопасно хранить и обрабатывать данные в рамках блокчейн-сети.</p>
                        <a href="https://www.factom.com/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-10">
                    <img src="images/btf/project-wings.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>WINGS</span></h2>
                        <p>WINGS - первая децентрализованная краудсейл платформа, которая позволяет разработчикам и
                            командам выдвигать проект на рассмотрение участников сообщества и получать
                            финансирование.</p>
                        <a href="www.storj.io"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-11">
                    <img src="images/btf/project-10.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>BitShares</span></h2>
                        <p>Децентрализованная биржа деривативов на любые активы как классического финансового, так и
                            криптовалютного рынков.</p>
                        <a href="https://bitshares.org/"></a>
                    </figcaption>
                </figure>
                <figure class="snip0016 project-12">
                    <img src="images/btf/project-11.png" alt="sample43"/>
                    <figcaption>
                        <h2><span>Monero</span></h2>
                        <p>Популярная децентрализованная криптовалюта, создатели которой делают ставку на безопасность и
                            полную анонимность транзакций.</p>
                        <a href="https://getmonero.org/home"></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<div class="row mb50" id="products">
    <div class="col-xs-12 text-center">
        <h2 class="pl30 pr30">Продукты фонда</h2>
        <span class="divider divider-center divider-dark no-margin-bottom"></span>
    </div>
    <!-- /.column -->
</div>
<section class="products inv-products">
    <div class="container">
        <div class="row mb40">
            <div class="col-md-12">
                <p>Первая линейка публичных продуктов Federal Finance Fund состоит из паев трех типов: два интервальных
                    (сроком в 3 месяца) - консервативный и сбалансированный, и одного открытого (постоянно действующего)
                    с агрессивной моделью торговли. Разные типы
                    паев педполагают разную стратегию управления активами с различным соотношением риск/доходность.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 mb30">
                <div class="products-item">
                    <h2>Консервативный</h2>
                    <div id="mypie"></div>
                    <p>Статегия консервативного пая предполагает прежде всего сохрание криптовалютных активов и
                        сдержанный рост стоимости портфеля по отношению к доллару/рублю. Большую часть портфеля
                        составляет биткойн и производные от доллара инструменты, что позволяет
                        <b>минимизировать</b> риски и ожидать стабильной доходности <b>около 3%</b> в месяц.</p>
                </div>
            </div>
            <div class="col-md-4 mb30">
                <div class="products-item">
                    <h2>Сбалансированный</h2>
                    <div id="mypie2"></div>
                    <p>Сбалансированная стратегия инвестирования сочетает в себе большой выбор инвестиционных
                        инструментов (включая участие в ICO и спекуляции на биржах) с ограниченем риска инвестора с
                        помощью стабилизационной части пая. Наш опыт применения подобной стратегии
                        дает результаты <b>около 10%</b> месячной доходности вкупе со сравнительно <b>невысоким
                            риском</b>.</p>
                </div>
            </div>
            <div class="col-md-4 mb30">
                <div class="products-item">
                    <h2>Агрессивный</h2>
                    <div id="mypie3"></div>
                    <p>Агрессивная стратегия включает в себя весь список инструментов, включая торговлю с плечом,
                        участие в высокорискованных манипуляцих рынком и в пре-ICO на ранних стадиях. Подобная стратегия
                        больше подойдет опытным инвесторам, готовым рискнуть частью
                        своего капитала для извелечения максимальной доходности, которая может составлять <b>до 40%</b>
                        в месяц при сравнительно <b>высоком риске</b> потери части капитала.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="inv-p">* Важно отметить, что соотношение типов инструментов может НЕ совпадать в точности с
                указанным процентным соотношением, которое представленно для общего понимания ключевых различий
                инвестиционных стратегий Federal Finance Fund. Цифры ожидаемой доходности
                составлены по результатам инвестирования прошлых периодов и не должны/не могут гарантировать доходность
                в будущем.</p>
            <br><br><br>
        </div>
    </div>
</div>

<section class="table-pai">
    <div class="container">
        <div class="row">
            <div class="col-md-12 table-container mb50 pai-pai">
                <table class="table table-striped table-borderless table-pai-table">
                    <thead>
                    <tr>
                        <th>Токен</th>
                        <th class="">Тип</th>
                        <th class="number">Текущая цена за ед.</th>
                        <th class="number">Результат</th>
                        <th class="number">Выпуск</th>
                        <th class="actions">Действие</th>
                    </tr>
                    </thead>
                    <tbody id="tokenstable">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="inv-p">* Точная информация об изменении стоимости конкретного пая, о составляющех его
                инвестиционных инструментах и динамике их изменения на сайте может отображаться с задержкой до одной
                недели. Эта мера принята преднамеренно. Для актуальной информации на
                текущую минуту воспользуйтесь <a href="http://bigtime.fund/dashboard.html" class="about-team">панелью управления</a> и соответствующим блокчейн-эксплорером.</p>
        </div>
    </div>
</div>

<div class="container invest-fee-table" ng-app="investFeeTable" ng-controller="investTable">
    <div class="row">
        <div class="col-md-12 head">
            <h3 class="text-center">Комиссия фонда и трейдера</h3>
        </div>
				<div class="col-md-12">
						<p class="inv-p">Фонд зарабатывает на комиссии с прибыли. Чем лучше результаты работы трейдера, тем больше комиссия. Посчитать точный размер комиссии поможет этот калькулятор:
						</p>
				</div>
        <div class="col-md-12 body">
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <form action="" class="form-inline">
                        <div class="form-group separator-group">
                            <div class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputDepositAmount">Размер депозита, $</label>
                            <input type="number" class="form-control" id="inputDepositAmount" placeholder="$"
                                   ng-model="incomeAmount" ng-change="changeIncome()">
                        </div>
                        <div class="form-group">
                            <label for="inputIncomeAmount">Прибыль, %&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                            <input type="number" min="0" class="form-control" id="inputIncomeAmount"
                                   ng-model="incomePercent" ng-change="changeIncome()"
                                   placeholder="%">
                        </div>
                    </form>
                </div>
                <div class="col-md-5">
                    <table class="table table-hovered table-stripped">
                        <thead>
                        <th></th>
                        <th>%</th>
                        <th>$</th>
                        </thead>
                        <tr>
                            <td>Доля прибыли клиента</td>
                            <td ng-bind="clentFeePercent">10000000</td>
                            <td ng-bind="clientFeeAmount"></td>
                        </tr>
                        <tr>
                            <td>Доля прибыли трейдера</td>
                            <td ng-bind="traderFeePercent"></td>
                            <td ng-bind="traderFeeAmount"></td>
                        </tr>
                        <tr>
                            <td>Доля прибыли фонда</td>
                            <td ng-bind="fondFeePercent"></td>
                            <td ng-bind="fondFeeAmount"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="inv-p">* Тредеры не имеют прямого доступа к торгуемым активам.
            </p>
            <p class="inv-p">* Если вы перспективный трейдер - присылайте свое портфолио и историю торговли на
                <a href="mailto:info@ff.ru">info@ff.ru</a>, мы рассматриваем варианты сотрудничества.
            </p>
        </div>
    </div>
</div>

<div class="container graphic">
    <div class="row graphic-buttons">
        <div class="graphic-buttons-item col-md-6">
            <a href="/fond.html" class="btn btn-1 btn-1a">Связаться с нами</a>
            <p class="reg-button-info">Появились вопросы или предложения?<br> Cвяжитесь с нами</p>
        </div>
        <div class="graphic-buttons-item col-md-6">
            <a href="/dashboard.html#reg" class="btn btn-1 btn-1a">Зарегистрироваться</a>
            <p class="reg-button-info">Создать аккаунт для покупки <br>продуктов фонда</p>
        </div>
    </div>
</div>

<div class="b-footer">
    <div class="container">
        <div class="row b-footer__top">
            <div class="col-md-3 col-sm-6 col-xs-12 b-footer__logo-cont">
                <a href="#"><img class="b-footer__logo" src="images/logo-footer.png" alt=""></a>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li class="header">Фонд</li>
                    <li><a href="investment.html">Инвестиции</a></li>
                    <li><a href="fond.html#team-anchor">Команда</a></li>
                    <li><a href="fond.html#contants-anchor">Контакты</a></li>
                    <li><a href="fond.html#vacancies-anchor">Вакансии</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li class="header">Блокчейн</li>
                    <li><a href="blockchain.html#technology-anchor">Технология</a></li>
                    <li><a href="industry.html">Новости</a></li>
                    <li><a href="industry.html#event-anchor">Мероприятия</a></li>
                    <li><a href="">Терминология</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <ul>
                    <li class="header">Управление</li>
                    <li><a href="dashboard.html">Купить паи</a></li>
                    <li><a href="dashboard.html">Помощь</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul class="soc-buttons">
                    <li class="header">Соцсети</li>
                    <li class="soc-items"><a href="https://blog.xapo.com"><i class="fa fa-youtube-play"
                                                                             aria-hidden="true"></i></a></li>
                    <li class="soc-items"><a class="fb" href="https://www.facebook.com/xapoapp"><i
                            class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="soc-items"><a class="tw" href="https://twitter.com/xapo"><i class="fa fa-twitter"
                                                                                           aria-hidden="true"></i></a>
                    </li>
                    <li class="soc-items"><a class="yt" href="https://www.youtube.com/channel/UC4MCNbUPZxhq1p6jZoCeUUA"><i
                            class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li class="soc-items"><a class="vk" href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    <li class="soc-items"><a class="vk" href="https://t.me/btfund"><i class="fa fa-telegram"
                                                                                      aria-hidden="true"></i></a></li>
                </ul>
                <input type="text" placeholder="Подписаться на новости" class="subscribe-input">
                <button class="subscribe-btn">submit</button>
            </div>
        </div>
        <div class="row b-footer__bottom">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <ul>
                    <li><a href="/privacy/">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-12 text-right">
                <ul class="language-switch language-switch-footer">
                    <li class="active"><a class="active" href="/">Русский</a></li>
                    <li><a class="" href="/es">English</a></li>
                    <li><a class="" href="/pt">Chinese</a></li>
                </ul>
                <span class="b-footer__copyright">&copy; 2017 Federal Finance Fund</span>
            </div>
        </div>
    </div>
</div><!-- .b-footer -->

<script src="https://use.fontawesome.com/6c7c72716c.js"></script>
<script src="js/typed.js"></script>
<script src="js/highstock.js"></script>
<script src="js/parallax.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="js/invest-fee-table.js"></script>

</body>

</html>
